<<<<<<< HEAD
<h1>Edit Book</h1>
=======
<h1>Editing Book</h1>
>>>>>>> 2446878c2ae0f7c3307082297d587efec3d8ed7e

<%= render 'form', book: @book %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
