<<<<<<< HEAD
<h1>Edit Book</h1>
=======
<h1>Editing Book</h1>
>>>>>>> dfdd2fe7e7d3ea54732b0c382b8c259f6256f507

<%= render 'form', book: @book %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
